[Desktop Entry]
Name=Firmware version
Exec=test
Icon=about.png
Terminal=false
Type=Application
X-MB-SingleInstance=true
StartupNotify=false
Comment=20191203
