[Desktop Entry]
Name=Remove Test
Exec=/usr/bin/removetest.sh
Icon=clean.png
Terminal=false
Type=Application
X-MB-SingleInstance=true
Comment=Remove Test
StartupNotify=false
