[Desktop Entry]
Name=ALS-ON
Comment=i2cset
Exec=/usr/bin/i2cset -y 2 0x66 1 1
Icon=applications-games
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
