[Unit]
Description=Telephony service
After=syslog.target

[Service]
Type=dbus
Restart=always
RestartSec=3
BusName=org.ofono
ExecStart=/usr/sbin/ofonod -n
StandardError=null

[Install]
WantedBy=multi-user.target
